<!DOCTYPE html>
<html ng-app="searchApp" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SQL Server Management Studio - SQL Source Control</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
  <script src="lib/jquery/jquery-1.10.2.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
</head>

<body ng-controller="searchCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Microsoft SQL Server Management Studio</a>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <nav class="nav navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menuList"><a href="#">{{item}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="row">
       <div class="col-md-3">
        <h2>Object Explorer</h2>
        <ul>
          <li ng-repeat="item in objectExplorerContents">{{item}}</li>
        </ul>
       </div>
       <div class="col-md-9">

        <ul class="nav nav-tabs">
          <li ng-repeat="item in ssmsTabs" role="presentation" ng-class="item.class">
            <a href="#">{{item.name}}</a>
          </li>
        </ul>
        <hr>

        <ul class="nav nav-tabs"> <!-- TODO: make selecting tabs change which is active -->
          <li ng-repeat="item in socTabs" role="presentation" ng-class="item.class">
            <a href="#">{{item.name}}</a>
          </li>
        </ul>
        <hr>

        <div class="row">
          <div class="col-md-10">
            <form>
              <textarea class="form-control" placeholder="Enter a comment describing your changes"></textarea>
            </form>
          </div>
          <div class="col-md-1">
            <button class="btn btn-default">Commit</button>
          </div>
          <div class="col-md-1">
            <span class="glyphicon glyphicon-question-sign pad-left"></span>
            <br>
            <span class="glyphicon glyphicon-refresh pad-left"></span>
          </div>
        </div>


        <div class="alert alert-warning" role="alert">Two changes that could cause data loss. <a href="" data-toggle="modal" data-target="#migrationsWindow">Create a migration script</a></div>
        <table class="table">
          <thead>
            <tr>
              <th>Change type</th>
              <th><input type="checkbox"> Change name</th>
              <th>Object type</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in commitGridContents" ng-click="setRowSelection(item)" ng-class="{success: item===selectedRow}">
            <td>{{item.changeType}}</td>
            <td><input type="checkbox" ng-model="checkboxModel[item.id]" name="group"> {{item.name}}</td>
            <td>{{item.objectType}}</td>
            <td>{{item.owner}}</td>
          </tr>
        </tbody>
        </table>

        <div class="alert alert-info" role="alert">
          <div class="row">
            <div class="col-md-6">
              <p>Database version</p>
            </div>
            <div class="col-md-6">
              <p>Source control version</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{selectedRow.diffPaneInfoLeft}}
          </div>
          <div class="col-md-6">
            {{selectedRow.diffPaneInfoRight}}
          </div>
        </div>

       </div> <!--end col-md-9 -->
    </div> <!--end row -->

    <div class="modal fade" id="migrationsWindow">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Select objects and edit scripts</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <thead>
                    <tr>
                      <th><input type="checkbox"> Change name</th>
                      <th>Object type</th>
                      <th>Owner</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in commitGridContents" ng-click="setRowSelection(item)" ng-class="{success: item===selectedRow}">
                      <td><input type="checkbox" ng-model="checkboxModel[item.id]" name="group"> {{item.name}}</td>
                      <!--TODO: remove shared checkbox model between tables -->
                      <td>{{item.objectType}}</td>
                      <td>{{item.owner}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <h4>Migration script editor</h4>
                <p ng-repeat="item in commitGridContents | filter: $scope.checkboxModel[item.id] ">{{item.name}}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

  <div class="container">
    <!-- <textarea ui-codemirror>{{selectedRow.detail}}</textarea> -->
  </div>
  <!-- /container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
